.canvas {
  width: 700px;
  height: 600px;
  border: solid #ccc 2px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
