.card-height {
  height: 500px;
  width: 500px;
}

.quadrant-cart {
  padding: 0;
}

.btn-position {
  right: 0;
  top: 0;
}

.single-quadrant {
  display: flex;
  flex-flow: row wrap;
}

.quadrant {
  width: 33vh;
  height: 33vh;
  float: left;
  padding: 0 0 0 0!important;
}
